<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{message}}</h1>
    <h2>Add Books</h2>
    <form action="/store_book" method="POST">
        <input type="text" name="title" placeholder="Book Title" required>
        <input type="text" name="author" placeholder="Author Name" required>
        <button type="submit">Add Book</button>    
    </form>
    <ul>
        {{#each mydata}}
           <h3> <li>{{this.title}}- {{this.author}}</li></h3>
        {{/each}}
    </ul>
</body>
</html> 